.cart-item {

  > .cart-item-thumbnail {
    width: 200px;
    height: 150px;
    text-align: center;

    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  > input[type="number"] {
    height: 60px;
    width: 60px;
    background: #fff;
    border: 2px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 600 1.5rem Helvetica, Arial, sans-serif;
  }

  > button {
    height: 60px;
    width: 60px;
    border: none;
    font-size: 40px;
    background-color: transparent;
  }
}
