.home-cart {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: white;
  color: grey;
  width: 65px;
  height: 65px;
  font-size: 32px;

  border-radius: 50%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  &:hover {
    text-decoration: none;
  }

  >.home-cart-count {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
}
