.product-image {
  background: linear-gradient(to top, #2193b0, #6dd5ed);
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  &.can-zoom {
    cursor: zoom-in;
    position: relative;
  }

  .product-image-back {
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 50%;
    border: white;
    font-size: 18px;
    width: 40px;
    height: 40px;
    color: darkgray;
    display: none;
  }

  > img {
    max-width: 100%;
    max-height: 100%;
  }
}

.product-details {
  padding: 24px 32px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.product-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 4px solid #FFF;
  box-shadow: inset 0 0 2px grey;
  position: relative;
  cursor: pointer;

  &:before {
    width: 24px;
    height: 24px;
    content: ' ';
    position: absolute;
    top: -4px;
    left: -4px;
    border-radius: 50%;
  }

  &.color-red {
    background: #e74c3c;
    &.color-active:before {
      border: 1px solid #c0392b;
    }
  }

  &.color-black {
    background: black;
    &.color-active:before {
      border: 1px solid #2c3e50;
    }
  }
}

.product {
  width: 500px;
  height: 240px;
  margin: 0 auto 50px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -20px 10px 30px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
  &.has-zoomed-image {
    .product-image {
      width: 100%;
      cursor: pointer;
      .product-image-back {
        display: inline-block;
      }
    }
    .product-details {
      width: 0;
      padding: 0;
    }
  }
  &.product-has-details {
    height: 420px;
  }
}

.item-standalone-page .product {
  width: 100%;
  box-shadow: none;
}
