body {
  background-color: #F5F5F5;
}

.home-cart {
  justify-content: center;
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 32px;
  background-color: white;

  color: grey;
  width: 65px;
  height: 65px;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.home-cart:hover {
  text-decoration: none;
}

.home-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-item {
  width: 600px;
  height: 400px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -20px 40px 70px 0px rgba(0, 0, 0, 0.25);
}

.home-item:not(:first-of-type) {
  margin-left: 20px;
}

.item-image {
  /* background-image: linear-gradient(-180deg, #71FEC9 0%, #49C7C9 100%); */
    /* background: linear-gradient(to top, #1d976c, #93f9b9); */
    /* background: linear-gradient(to right, #02aab0, #00cdac); */
    background: linear-gradient(to top, #2193b0, #6dd5ed);
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}

.item-details {
  padding: 24px 32px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-color {

}
