<LinkTo @route="cart" class="home-cart d-inline-flex justify-content-center align-items-center">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  {{#if this.cart.cartList.length}}
    <span class="home-cart-count d-inline-flex justify-content-center align-items-center">
      {{this.cart.cartList.length}}
    </span>
  {{/if}}
</LinkTo>

<main class="container mt-5">
  {{yield}}
</main>