<LinkTo @route="cart" class="cart-link">
  <i class="fa fa-shopping-cart"></i>
  {{#if this.shoppingCart.itemList.length}}
    <span class="cart-count d-inline-flex justify-content-center align-items-center">
      {{this.shoppingCart.itemList.length}}
    </span>
  {{/if}}
</LinkTo>

<main class="container mt-5">
  {{yield}}
</main>