<div class="item-details">

  <!-- Item Header -->
  <section>
    <h3>Nike Rosh Run</h3>
    <div>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
    </div>
  </section>

  <!-- Price -->
  <section>
    <del>$198.98</del> $99.98
  </section>

  <!-- Item description -->
  <section>
    <h5>Description</h5>
    <p>A very cool stuff</p>
  </section>

  <!-- Details -->
  <section>
    <h5>Color</h5>
    <div>
      <input type="radio" name="color" id="item-color-black" checked>
      <input type="radio" name="color" id="item-color-white">
    </div>
  </section>

  <!-- Actions -->
  <section>
    <button type="button" class="btn btn-info">
      <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i> Add to cart
    </button>
  </section>
</div>