<div class="product-image {{if @isDetails "can-zoom"}}" {{on "click" @toggleZoom}}>
  <button class="product-image-back">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
  <img ...attributes/>
</div>