<main class="container mt-5">
  <h1>Shopping Cart</h1>

  <header>
    <LinkTo @route="index">Home</LinkTo> > <LinkTo @route="cart">Shopping Cart</LinkTo>
  </header>
  <hr>

  <hr>

  <button type="button" class="btn btn-success float-right">Check out</button>
</main>