<LinkTo @route="cart" class="home-cart">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  <span class="home-cart-count">1</span>
</LinkTo>

<main class="container pt-5">
  <Item />
  <Item />
</main>