<LinkTo @route="cart" class="home-cart">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
</LinkTo>

<main class="home-container">
  <div class="home-item">
    <Item::Image src="/assets/images/beats-solo-red.png" width="100%" />
    <Item::Details />
  </div>
</main>