<LinkTo @route="cart" class="home-cart">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
</LinkTo>

<main class="home-container">
  <div class="home-item">
    <Item::Image src="/assets/images/earbuds-clipart-headphone-beats-1-transparent.png" width="100%" />
    <Item::Details />
  </div>

  <div class="home-item">
    <Item::Image src="/assets/images/beats-clip-2-transparent.png" width="100%" />
    <Item::Details />
  </div>
</main>