<CartContainer>

  <div class="item-standalone-page">
    <Product @isDetails={{true}} @product={{this.model}}/>
    <h5 class="mt-5">Features</h5>
    <ul>
      {{#each this.model.features as |feature|}}
        <li>{{feature}}</li>
      {{/each}}
    </ul>
  </div>

</CartContainer>