<CartContainer>

  <div class="container mt-5 item-standalone-page">
    <Item @isDetails={{true}} @item={{this.model}}/>
    <h5 class="mt-5">Features</h5>
    <ul>
      {{#each this.model.features as |feature|}}
        <li>{{feature}}</li>
      {{/each}}
    </ul>
  </div>

</CartContainer>